
{box-sizing: border-box;}

body{
  display: grid;
  grid-template-areas: "gap logo gap2"
             "gap nav  gap2"
             "gap content  gap2"
             "gap footer  gap2";
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  grid-gap: 10px;
}

#gap{
  grid-area: gap;
  visibility: hidden;
}

#gap2{
  grid-area: gap2;
  visibility: hidden;
}
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
}


nav{
  grid-area:nav;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
footer{
  grid-area: footer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
.content{
    grid-area: content;
}


nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
nav ul li {
    display: block;
    position: relative;
    float: left;
    
  }
nav li ul {
    display: none;
  }
nav ul li a {
    display: block;
    
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 35px;
    
  }
  nav ul li a:hover {
    background: grey;
  }
  nav li:hover ul {
    display: block;
    position: absolute;
    
   }
  nav li:hover li {
    float: center;
  }
  nav li:hover a {
    background: grey;
  }
  nav li:hover li a:hover {
    background: lightgrey;
  }
  nav li ul li {
    border-top: 0px;
  }




.gradient {
height: 80px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(
      #009300, #6fc46f, #7ef2c4
    );
}


.images{
     display:flex;
  flex-direction: row;
  justify-content: space-around;
}





footer{
    background: rgba(120, 216, 155, 0.8);
    font-size: 1rem;

}
